# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Misc
.grunt
bower_components
.lock-wscript
build/Release

# Dependencies
node_modules/

# Build output
dist/
.vite/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local